*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
.header img {
  height: 45px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  margin: 0 auto;
  align-items: center;
  padding-block: 20px;
}

.border {
  height: 1px;
  border: none;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: black;
}

.navbar a:last-child{
  background-color: black;
  padding: 5px 10px;
  border-radius: 30px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
}

.container img{
  margin-right: -350px;
  margin-top: -15px;
  position: relative;
  z-index: -1;
}


h1 {
  font-size: 120px;
  line-height: 100px;
  letter-spacing: -0.055em;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 48px;
}

h3 {
  line-height: 28px;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 48px;
}

.context button {
  font-size: 20px;
  padding: 8px 20px;
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 99em;
  border: none;
}